<section class="container-fluid" id="contact">
    <div class="row">
        <div class="container">
            <div class="col-12 contact-header">
                <h2 class="contact-title">Envie d'échanger ? N'hésitez pas
                    <span>Contact</span>
                </h2>
                <div class="contact-line"></div>
            </div>
            <div class="col-9 mx-auto">
               <form id="contactform" name="contactform">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="formtext" for="form_name">Nom/Prénom *</label>
                            <input id="form_name" type="text" name="name" class="form-control form-input">
                        </div>
                    </div>
            
                    <div class="col-12">
                        <div class="form-group">
                            <label class="formtext" for="form_email">Email *</label>
                            <input id="form_email" type="email" name="email" class="form-control form-input">
                        </div>
                    </div>
             
                    <div class="col-12">
                        <div class="form-group">
                            <label class="formtext" for="form_subject">Sujet/Objet</label>
                            <input id="form_subject" type="text" name="subject" class="form-control form-input">
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <label class="formtext" for="form_message">Votre Message *</label>
                            <textarea id="form_message" name="message" class="form-control form-input"  rows="4"></textarea>
                        </div>
                    </div>

                    <input id="form-submit"  (click)="sendEmail()" onclick="this.form.reset();" class="btn" type="submit" name="submit" value="Envoyer" > 
                    <!-- <button type="reset" ng-click="reset()">Reset</button> -->
                </form>
                <div class="col-12">
                    <br><p id="send-message">Envoi en cours, veuillez patienter !</p>
                </div>


            
            </div>
        </div>	
    </div>
</section>
