<section class="container-fluid" id="activities">
    <div class="row position-relative margin-0">
        <div class="container">
            <div class="col-12 activities-header">
                <h2 class="activities-title">Expériences Professionelles
                    <span>Activités</span>
                </h2>
                <div class="activities-line"></div>
            </div>
            <div class="row position-relative margin-0">
                <div class="col-md-12">
                    <div class="container-activities">
                        <div class="activities pro1">
                            <img src="../../assets/img/professionnal/manzavision.webp" width="400" height="400" alt="Image ManzaVision">
                            <p><b style="text-decoration: underline;">Type :</b> Stage en Entreprise</p>
                            <p><b style="text-decoration: underline;">Organisme :</b> ManzaVision</p>
                            <p><b style="text-decoration: underline;">Lieu :</b> Aix-en-Provence</p>
                            <p><b style="text-decoration: underline;">Année / Durée :</b> 2020 Juin - Juillet</p>
                            <p><b style="text-decoration: underline;">Objectif :</b> Imersion en entreprise et découverte du langage C# informatique sous l'IDE Unity.</p>
                            <a href="../../assets/pdf/B1_RAPPORT_MANZAVISION.pdf" target='_blank'>Rapport</a>
                        </div>
                        <div class="activities pro2">
                            <img src="../../assets/img/professionnal/badaoui.webp"  width="400" height="400" alt="Image Stage">
                            <p><b style="text-decoration: underline;">Type :</b> Stage en Freelance</p>
                            <p><b style="text-decoration: underline;">Organisme :</b> BADAOUI</p>
                            <p><b style="text-decoration: underline;">Lieu :</b> Aix-en-Provence</p>
                            <p><b style="text-decoration: underline;">Année / Durée :</b> 2021 Mai - Juillet</p>
                            <p><b style="text-decoration: underline;">Objectif :</b> Découverte du freelance et formation WEB Front/Back avec les frameworks ASP.net Core/Angular</p>
                            <a href="../../assets/pdf/B2_RAPPORT_BADOUI.pdf" target='_blank'>Rapport</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>