<section class="container-fluid"id="activities">
    <div class="row position-relative margin-0">
        <div class="container">
            <div class="col-12 activities-header">
                <h2 class="activities-title">Expériences Professionelles
                    <span>Activités</span>
                </h2>
                <div class="activities-line"></div>
            </div>
            <div class="row position-relative margin-0">
                <div class="col-md-12">
                    <div class="activities">
                        <a href="../../assets/pdf/B1_RAPPORT_MANZAVISION.pdf" target='_blank'>
                            <img src="../../assets/img/professionnal/manzavision.png" alt="Image ManzaVision">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>