<div class="header">
    <div class="intro">
        <p class="hello">Bonjour,</p>
        <h1 class="iam">Bienvenue dans mon univers !</h1>
    </div>
    <div class="scroll">
        <div class="down"></div>
    </div>
</div>

<header class="container-navbar">
    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
            <div class="nav-title">
                <a href="#">
                    QMENDEL
                </a>
            </div>
        </div>
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>
        
        <div class="nav-links">
            <a class="active" href="#">Accueil</a>
            <a href="#aboutme">Présentation</a>
            <a href="#projects">Réalisations</a>
            <a href="#activities">Activités</a>
            <a href="#skills">Compétences </a>
            <a href="#contact">Contact</a>
            <a href="../../assets/pdf/CV_ALTERNANCE_MENDEL.pdf" target="_blank">Mon cv</a>
        </div>
    </div>
</header>

<div class="scroll-top">
    <a id="scroll-top" href="#">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </a>
</div>
