<section class="container-fluid" id="projects">
    <div class="row position-relative margin-0">
        <div class="container">
            <div class="col-12 projects-header">
                <h2 class="projects-title">Portfolio
                    <span>Mes Projets</span>
                </h2>
                <div class="projects-line"></div>
    
                <div class="row position-relative margin-0">
                    <div class="selection">
                        <div class="filter">
                            <a class="active-project filter-button all" data-filter="all" role="button">Tous</a>
                            <a class="filter-button B2" data-filter="B1" role="button">b1</a>
                            <a class="filter-button B2" data-filter="B2" role="button">b2</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row position-relative margin-0">
                <ul class="container-list-project">
                    <li class="list-project all B1">
                        <figure id="stritt">
                            <img src="../../assets/img/projects/stritt.jpg" alt="Image project Stritt">
                            <figcaption>  
                                <div class="caption">
                                    <a href="#target-content" class="btn-modal">              
                                        <b>Stritt / Watcher</b><br>
                                        <i>Création d'un site d'actualité RAP et Cinéma</i>
                                    </a>   
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="list-project all B2">
                        <figure id="smi">
                            <img src="../../assets/img/projects/SMI.png" alt="Image project Smi-Informatique">
                            <figcaption>
                                <div class="caption">
                                    <a href="#target-content" class="btn-modal">
                                        <b>SMI-Informatique</b><br>
                                        <i>Création d'un site vitrine</i>
                                    </a>
                                </div>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </div>
        </div>   
    </div>
</section>



<div id="target-content" class="target-content">
    <a href="#" class="close"></a>
        <div id="popup-stritt" class="target-inner popup-stritt">
            <div class="row">
                <div class="col-12 popup-header">
                    <p><b style="text-transform: uppercase;">Stritt - Watcher</b></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 popup-img-video">
                    <video controls>
                        <source src="../../assets/video/projects/B1/strittYdays.mp4" type="video/mp4">    
                        Désolé, votre naviguateur ne supporte pas ce format de vidéo.
                    </video>
                    <video controls>
                        <source src="../../assets/video/projects/B1/watcherYdays.mp4" type="video/mp4">    
                        Désolé, votre naviguateur ne supporte pas ce format de vidéo.
                    </video>
                    <p><b style="text-transform: upppercase">Infos Projet</b></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 popup-body">
                    <p>Ynov Aix Campus | Aix-en-Provence | 13100</p>
                    <p>Projet Scolaire réalisé en 1ère année de mon cursus scolaire, sur la création d'une startup  portant sur l'actualité du Rap et du Cinéma.</p>
                    <p>Réalisé avec le CMS WordPress</p>
                </div>
            </div>

            <div class="row popup-footer">
                <div>
                    <a href="#projects">Fermer</a>
                </div>
            </div>
        </div>



        <div id="popup-smi" class="target-inner popup-smi">
            <div class="row">
                <div class="col-12 popup-header">
                    <p><b style="text-transform: uppercase;">Smi-Informatique</b></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12  popup-img-video">
                    <img src="../../assets/img/projects/SMI.png" alt="Image project Smi-sInformatique">
                    <p><b style="text-transform: upppercase">Infos Projet</b></p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 popup-body">
                    <p>SMI-Informatique | Saint-Maximin-la-Sainte-Baume | 83470</p>
                    <p>Projet Scolaire réalisé en 2ème année de mon cursus scolaire, sur la création d'un site vitrine pour commerçant de matériel informatique.</p>
                    <p>Réalsité avec les frameworks AngularJS et NodeJS<br>(Projet en cours de réalisation)</p>
                </div>
            </div>

            <div class="row popup-footer">
                <div>
                    <a href="#projects">Fermer</a>
                </div>
            </div> 
        </div> 
</div>
