<section class="container-fluid" id="aboutme">
    <div class="row">
        <div class="container">
            <div class="col-12 aboutme-header">
            <h2 class="aboutme-title">Presentation
                <span>Qui suis-je ?</span>
            </h2>
            <div class="aboutme-line"></div>
            </div>
            <div class="col-12 profile">
                <img src="../../assets/img/aboutme/Quentin.JPG" alt="Responsive image Profile" class="profile">		
            </div>
            <div class="col-12 text-presentation">
                <p><b style="font-style: italic;">Etudiant</b> en 2ème Année de bachelor Informatique chez Ynov Aix Campus depuis 2019.Passionné par le développement  et l’informatique, j'étudie afin d'obtenir un mastère en <b style="font-style: italic;">développement WEB </b>! <br><br> Vous souhaitez accéder à mon CV cliquez <a href="../../assets/pdf/CV_ALTERNANCE_MENDEL.pdf" target="_blank">ici.</a></p>
            </div>
            
        </div>
    </div>
</section>

