/* FOOTER CONTAINER */ 

footer div.row {
    padding: 40px 0;
	background-color: rgb(51, 51, 51); 
}

/* FOOTER CONTENT */

div.socialfooter {
	padding: 10px;
}
div.socialfooter a {
	text-decoration: none;
	color:#fff;
	padding: 10px;
}
div.socialfooter i {
	font-size: 1.2em;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid;
	border-radius: 50%;
	padding: 10px;
}

div.socialfooter i:hover {
	opacity: 0.5;	
}

p.textfooter {
	color:#fff;
	margin: 0;
	padding: 0;
}
