<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 ; text-center">
                <div>
                    <p class="textfooter">2021, Aix YnovCampus</p>
                </div>
                <div class="socialfooter">
                    <!--Email-->
                    <a href="mailto:quentin.mendel@ynov.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    <!--Instagram-->
                    <a href="https://www.instagram.com/quentin_mdl/" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                    <!--Linkedin-->						
                    <a href="https://www.linkedin.com/in/quentin-mendel-629912193/" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a>						
                    <!--GitHub-->
                    <a href="https://github.com/quentinmdl" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a>				
                </div>
                <div>
                    <p class="textfooter">© Quentin Mendel, Tous droits réservés.</p>
                </div>
            </div>
        </div>
    </div>
</footer>

<div class="scroll-top">
    <a id="scroll-top" href="#">
        <i class="fa fa-arrow-up" aria-hidden="true"></i>
    </a>
</div>
